.page-heading {
  font-size: 72px;
  text-align: center;
  color: #4472c4;
}

span.red {
  color: red;
}
span.green {
  color: green;
}

div.new-schools > img {
  width: 45%;
  padding: 2%;
}

a.button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 26px;
  border-radius: 5px;
  margin: 30px auto;
  width: 50%;

  &.email {
    background-color: #4472c4;
    color: white;
  }

  &.petition {
    background-color: #EC2C22;
    color: white;
  }
}

div.callout {
  background-color: #faf7e7;
  border: 2px solid #f0e5c6;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 22px;
  border-radius: 5px;
  margin: 30px auto;
  width: 65%;
}
